{{define "content"}}
<div class="card">
    <h2>Create Client Account</h2>

    {{if .success}}
        <div style="background:#dcfce7;padding:10px;border-radius:8px;margin-bottom:15px;">
            ✅ {{.success}}
        </div>

        <div class="card">
            <h3>{{.success}}</h3>

            <p><b>Account Code:</b> {{.accountcode}}</p>
            <p><b>Username:</b> {{.username}}</p>
            <p><b>Password:</b> {{.password}}</p>

            <button onclick="copyText()">Copy All</button>
        </div>

        <script>
        function copyText() {
            const text = `Account: {{.account_code}}
        Username: {{.username}}
        Password: {{.password}}`;

            navigator.clipboard.writeText(text);
            alert("Copied!");
        }
        </script>
    {{end}}

    <form method="POST" action="/owner/create_account">
        <input type="text" name="company_name" placeholder="Company Name" required>
        <select name="plan_id" id="planSelect" onchange="showPlanDetail()" required>
            <option value="">-- Pilih Paket --</option>
            {{range .plans}}
                <option value="{{.Code}}"
                    data-name="{{.PlanName}}"
                    data-users="{{.Limituser}}"
                    data-price="{{.Price}}"
                    data-desc="{{.Description}}">
                    {{.PlanName}}
                </option>
            {{end}}
        </select>
        
        <br><br>
        <button type="submit">Create Account</button>
    </form>
</div>
<br>
<div id="planDetail" class="card" style="margin-top:15px; display:none;">
    <h3 id="planName"></h3>
    <p><b>Max User:</b> <span id="planUsers"></span></p>
    <p><b>Price:</b> Rp <span id="planPrice"></span></p>
    <p id="planDesc"></p>
</div>
{{end}}