{{define "sidebar"}}

<div class="sidebar" id="sidebar">

    <!-- HEADER -->
    <div class="sidebar-header">
        <h2 class="logo">AitherHR</h2>
        <div class="toggle-btn" onclick="toggleSidebar()">☰</div>
    </div>

    <!-- MENU -->
    <div class="menu">
        {{ range .Menus }}
        <a href="{{ .Link }}" 
            onclick="handleNav(event, '{{ .Link }}')"
            class="{{ if eq $.CurrentPath .Link }}active{{ end }}">
            
            <span class="icon">
                {{ if eq .Name "Dashboard" }}🏠{{ end }}
                {{ if eq .Name "Employees" }}👥{{ end }}
                {{ if eq .Name "Attendance" }}⏱️{{ end }}
                {{ if eq .Name "Payroll" }}💰{{ end }}
                {{ if eq .Name "Settings" }}⚙️{{ end }}
            </span>

            <span class="text">{{ .Name }}</span>
        </a>
        {{ end }}
    </div>

    <!-- <form action="/logout" method="POST" style="margin-top:20px;">
        <button type="submit" class="logout-btn">Logout</button>
    </form> -->

</div>

{{end}}