{{define "sidebar"}}

<div class="sidebar" id="sidebar">

    <!-- HEADER -->
    <div class="sidebar-header">
        <h2 class="logo">AitherHR</h2>
        <div class="toggle-btn" onclick="toggleSidebar()">☰</div>
    </div>

    <!-- MENU -->
    <div class="menu">
        {{ range .Menus }}

            {{ if .Children }}

            <!-- MENU WITH SUBMENU -->
            <div class="menu-group">

                <div class="menu-parent"
                    onclick="toggleSubmenu(this)">

                    <div class="menu-left">

                        <span class="icon">
                            {{ if eq .Name "Settings" }}⚙️{{ end }}
                        </span>

                        <span class="text">{{ .Name }}</span>

                    </div>

                    <span class="submenu-arrow">⌄</span>

                </div>

                <!-- SUBMENU -->
                <div class="submenu">

                    {{ range .Children }}

                    <a href="{{ .Link }}"
                    onclick="handleNav(event, '{{ .Link }}')"
                    class="submenu-item {{ if eq $.CurrentPath .Link }}active{{ end }}">

                        {{ .Name }}

                    </a>

                    {{ end }}

                </div>

            </div>

            {{ else }}

            <!-- NORMAL MENU -->
            <a href="{{ .Link }}"
            onclick="handleNav(event, '{{ .Link }}')"
            class="{{ if eq $.CurrentPath .Link }}active{{ end }}">

                <span class="icon">
                    {{ if eq .Name "Dashboard" }}🏠{{ end }}
                    {{ if eq .Name "Employees" }}👥{{ end }}
                    {{ if eq .Name "Attendance" }}⏱️{{ end }}
                    {{ if eq .Name "Payroll" }}💰{{ end }}
                </span>

                <span class="text">{{ .Name }}</span>

            </a>

            {{ end }}

        {{ end }}
    </div>

    <!-- <form action="/logout" method="POST" style="margin-top:20px;">
        <button type="submit" class="logout-btn">Logout</button>
    </form> -->

</div>

{{end}}